<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Vaseis</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/Features-Boxed.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Dark.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <!-- Section of class login-dark located in assets -->
    <section class="login-dark">
        

        <!-- Form tha contains some options(divs). Each one contains a header, some text and a "Go" button
            Two use cases: sum due and reports
            When "Go" button is clicked link to corresponding page-->
        <form method="post" style="max-width: 1102px;width: 600px;">
            <div class="text-center text-sm-center text-md-center text-lg-center text-xl-center text-xxl-center" style="width: 700px;">
                <h1 style="width: 520px;">404 Page Not Found</h1>
            </div>
        </form>
    </section>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>