<div class="col text-center" style="padding: 10px;">
    <div class="text-center" style="padding: 10px; height: 200px;background: rgb(30,52,77);border-radius: 15px;">
        <h1 style="font-size: 25px;padding: 10px;padding-bottom: 0px;"><%= question %></h1>
        <h1 style="font-size: 25px;padding: 10px;padding-bottom: 0px;"><%= header %></h1>
        <p style="color: rgba(255,255,255,0.45);font-size: 13px;padding: 10px;height: 50px;padding-top: 0px;"><br><%= message %><br><br></p><a href=<%= link %> style="font-size: 15px;">Go &gt;&gt;</a>
    </div>
</div>