<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Vaseis</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/Features-Boxed.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Dark.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <!-- Section of class login-dark located in assets -->
    <section class="login-dark">
        <%- include("navbar.ejs")%>
        
        <!-- Form tha contains some options(divs). Each one contains a header, some text and a "Go" button
            Two use cases: sum due and reports
            When "Go" button is clicked link to corresponding page-->
        <form method="post" style="max-width: fit-content;">
            <div class="text-center text-sm-center text-md-center text-lg-center text-xl-center text-xxl-center">
                <h1>Choose use case:</h1>
            </div>
            <div class="row">
                <div class="col text-center" style="padding: 15px;">
                    <div class="text-center" style="padding: 15px;height: 230px;background: rgb(30,52,77);border-radius: 15px;"><i class="fa fa-calendar" style="padding: 10px;"></i>
                        <h1 style="font-size: 25px;padding: 10px;padding-bottom: 0px;">Programs</h1>
                        <p style="color: rgba(255,255,255,0.45);font-size: 13px;padding: 10px;height: 79px;padding-top: 0px;"><br>See all available programs.<br><br></p><a href="/programs" style="font-size: 15px;">Go &gt;&gt;</a>
                    </div>
                </div>

                <div class="col text-center" style="padding: 15px;">
                    <div class="text-center" style="padding: 15px;height: 230px;background: rgb(30,52,77);border-radius: 15px;"><i class="fa fa-calendar" style="padding: 10px;"></i>
                        <h1 style="font-size: 25px;padding: 10px;padding-bottom: 0px;">Projects</h1>
                        <p style="color: rgba(255,255,255,0.45);font-size: 13px;padding: 10px;height: 79px;padding-top: 0px;"><br>See available projects.<br><br></p><a href="/projects" style="font-size: 15px;">Go &gt;&gt;</a>
                    </div>
                </div>
            </div>
        </form>
    </section>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>