<!-- Navigation bar of certain class with certain color and one button
            Vaseis button takes user to dashboard-->
            <nav class="navbar navbar-light navbar-expand-md fixed-top" style="background: #1e2833;border-bottom: 1px solid rgb(255,255,255);font-size: 24px;">
                <div class="container-fluid"><a class="navbar-brand" href="/dashboard" style="color: rgba(255,255,255,0.9);font-size: 30px;">Vaseis</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-2"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navcol-2">
                    </div>
                </div>
            </nav>